.user-panel {
	margin: 35px 10px 0 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.company-select {
	line-height: 45px;
}

.products-controls .form-control {
	width: 200px;
	display: inline-block;
	margin-right: 10px;
}

.products .form-control {
	width: 200px;
	display: inline-block;
}

.products .small {
	width: 100px;
}

.products .btn {
	margin-left: 10px;
}

#buttons {
    margin-bottom: 10px;
}

table tr td {
    vertical-align: middle !important;
}

.b-form label {
    width: 450px !important;
    vertical-align: middle !important;
}

.b-form label input,
.b-form label select,
.b-form .ui-selectonemenu,
.b-form textarea,
.b-form .text {
    float: right !important;
    width: 300px;
}

.b-form .check-label {
    width: 150px !important;
    float: left !important;
}

.b-form input[type="checkbox"],
.ui-chkbox {
    float: left !important;
}

.b-form label.short {
    width: 150px !important;
}

.b-form label.short input {
    width: 100px !important;
}
.b-form .text2 {
    float: none;
    padding-right: 10px;
    font-weight: bolder;
}

#filter {
    margin-bottom: 10px;
}

#filter input,
#filter .ui-selectonemenu,
#filter .form-control {
    margin: 0 20px 0 5px !important;
}

#filter .ui-selectonemenu {
    margin-bottom: -10px !important;
}

#filter button {
    margin-right: 10px;
}

#buttons button {
    margin-right: 10px;
}

/************************ invoice print ************************/

.invoice {
	width: 740px;
	margin: 10px;
	font-family: sans-serif;
}

.invoice table,
.invoice tbody,
.invoice thead,
.invoice tfoot {
	text-align: left;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

.invoice th {
	width: 140px;
	white-space: nowrap;
}

.invoice th,
.invoice td {
	padding: 5px;
}

.invoice .left {
	width: 350px;
	float: left;
}

.invoice .left table {
	width: 350px;
	float: left;
	padding-left: 10px;
}

.invoice .products {
	width: 702px;
}

.invoice .products tfoot tr:first-of-type td {
	border-top: 1px solid #000;
	padding-top: 15px;
}

.invoice .products tr td:first-of-type,
.invoice .products tr th:first-of-type {
	padding-left: 10px;
}

.invoice .products tr td:last-of-type,
.invoice .products tr th:last-of-type {
	padding-right: 10px;
}

.invoice .padding-bottom {
	padding-bottom: 20px;
}

.invoice .head {
	border-bottom: 1px solid #000;
	float: left;
}

.ui-datatable-data td {
    overflow: visible !important;
}

.btn-group {
    margin-right: 5px;
}

#filter .form-control {
    display: inline !important;
    width: auto !important;
}