<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="me.kolinger.pro3.invoices" level="DEBUG" />
    <!--<logger name="org.hibernate.type" level="TRACE" />&lt;!&ndash; show hibernate parameters for queries&ndash;&gt;-->

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>